# Terraform directories and files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan

# General system files
.DS_Store
Thumbs.db
